<table>
  <thead>
    <tr>
      <th width="200">Time</th>
      <th width="150">Sender</th>
      <th width="150">Subject</th>
      <th width="150">Message</th>
    </tr>
  </thead>
    <% if @received_messages.size > 0 %>
      <tbody>
          <% @messages.each do |message| %>          
              <p>Screen Name:<%= message.sender.screen_name %></p>
              <%= time_ago_in_words(message.created_at) %>
              <%= message.subject %>
              <%= message.body %>
        
      </tbody>
    <% end %>
  <% else %>
    <p> You have no messages in your inbox </p>
  <% end %>
</table>