default: &default
  secret_key_base: 1234678910
  email_username: fake@gmail.com
  email_password: faker

development:
  <<: *default

test:
  <<: *default

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>