  <% if @users.present? %>
  <%= render("shared/user_list") %>
  <% else %>
  <div class="alert-box secondary" >
  Sorry, no matches found!
  </div>
    <%= render("shared/user_list") %>
  <% end %> 


