#sign-up{
  background-image: image-url('floor.png'); // link to /assets/images/floor.png;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-alin: letf;
  margin-left: 50px;
  background-attachment: fixed;
}

.logo-sign-up {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -10px;
  max-width: 25%;
  min-width: 20em;
  position: fixed;

}

.signup-fields{
  padding-top: 15px;
}

.signup-panel {
  background: white;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  min-width: 20em;
  background: rgba(255, 255, 255, 0.85);
}

.signup-panel p {
  font-size: 15px;
  font-weight: 200;
  margin-left: 30%;
}

.signup-panel .button {
  margin-left: 40%;

}

.profile-panel p {
  font-size: 15px;
  font-weight: 200;
  margin-left: 5%;
  color: black;
}

.profile-panel h5 {
  font-size: 15px;
  font-weight: 200;
  margin-left: 5%;
}
.profile-panel {
  background: rgba(255, 255, 255, 0.85); 
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  min-width: 20em;
  min-height: 360px;  
}

div.panel {
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: rgba(51, 55, 57, 0.70); 
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(51, 55, 57, 0.70);
}

.panel h6.subheader {
  line-height: 1.4;
  font-size: 13px;
  padding-top: 2px;
}

div.panel h5 {
  color: white;
}

.panel h1.subheader, .panel h2.subheader, 
.panel h3.subheader, .panel h4.subheader, 
.panel h5.subheader, .panel h5, .panel h6.subheader {
line-height: 1.4;
color: white;
}

.search-panel {
  background: rgba(255, 255, 255, 0.85); 
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  min-width: 20em;
  color: #333739;
}

.search-panel label {
  color: #333739;
}

.search-panel .button {
  margin-left: 35%;
}

.float-left{
  float: left;
}