#sign-in{
  background-image: image-url('bg.jpg'); // link to /assets/images/bg.jpg;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-alin: letf;
}

.logo-sign-in {
  margin-top: 30px;
  margin-left: 20px;
  max-width: 40%;
  min-width: 20em;
}

.signin-panel{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: left;
  width: 100%;
  min-width: 20em;
  background: white;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85); 
}

.sign-in-title h2, p {
  color: white; 
}

div.sign-in-title {
  color: white;
  margin-left: 30px; 
}


.signin-fields{
  padding-top: 15px;
}

.signin-panel p {
  font-size: 15px;
  font-weight: 200;
  margin-left: 19%;
  color: black;
}

.signin-panel .button {
  margin-left: 35%;
}

#generic-page-style {
  background-image: image-url('basket.jpg'); // link to /assets/images/basket.jpg;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.fix_button_group{
white-space: nowrap;
}

.error-panel {
  background: #D5FF0D;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  min-width: 20em;
  } 

nav.top-bar{
height: 80px;
background: #333333;
position: fixed;
top: 0;
width: 100%;
z-index: 10000;
}

.top-bar-section {
  max-width: 1200px;
}

.title-area {
  margin-left: 15px;
  line-height: 80px;
}

ul.right {
  padding-top: 30px;
}

.picture-grid {
  padding-top: 90px;  
}

.email-panel{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
  min-width: 20em;
  background: white;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85); 
}

.email-list-panel{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 85%;
  min-width: 20em;
  background: white;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85); 
}

.email-content-panel{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 85%;
  min-width: 20em;
  background: white;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85); 
}
.profile-picture {
  margin-top: 100px;
}

.alert-box.secondary {
  text-align: center;
  background-color: #e7e7e7;
  border-color: #c7c7c7;
  color: #4f4f4f;
  margin-top: 80px;
  margin-bottom: -80px;
}

.panel h6.subheader {
  line-height: 1.4;
  font-size: 13px;
  padding-top: 2px;
}

.profile-grid {
  margin-top: 100px;  
}

.back-link {
  margin-left: 45px;
  margin-top: 5%;
}

.message-link  {
  margin-left: 80px;
  margin-top: 15px;
  }

@media (min-width: 1000px) {
  .search-panel {
    position: fixed;
    }
}

@media (max-width: 1000px) {
  .profile-grid {
    max-width: 300px;
    }
  div.profile-panel {
    min-height: 1000px;
    }
  .back-link {
  margin-left: 70px;
  margin-top: 30px;
  }
}

.button-reset-password {
  margin-left: -150px;
}

.button-reset-password p{
  text-align: center;
}