.sign-in-title{
  position: absolute;
  text-align: center;
  top: 50px;
  left: 600px;
}

.sign-in-form {
  position: relative;
  top: 200px;
  left: 600px;
  width: 400px;
}

.links {
  position: relative;
}